In [2]:
import pandas as pd

In [5]:
df = pd.read_csv(filepath_or_buffer='data/categories.csv')
df.head()

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"

In [45]:
from string import ascii_lowercase

# asci_lowercase() fonksiyonu bize küçük harf halinde a,b,c ...z bize teslim edecek.
# output --> 'abcdefghijklmnopqrstuvwxyz'
# bu kod --> df.index=list(ascii_lowercase[:len(df)]) bize 'abcdefgh' bu ifadeyi verir.
# veri setinin 0,1,2,3,4...8 olan index bilgilerini a,b,c,d,...h yaptık

df.index=list(ascii_lowercase[:len(df)])

In [46]:
df.head()

,CategoryID,CategoryName,Description
a,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
b,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
c,3,Confections,"Desserts, candies, and sweet breads"
d,4,Dairy Products,Cheeses
e,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"

In [50]:
df.shape

(8, 3)

In [49]:
df.dtypes

CategoryID       int64
CategoryName    object
Description     object
dtype: object

In [48]:
#tek sütunu seçme
df['CategoryName'] # burada veri panda serisi olarak döner

a         Beverages
b        Condiments
c       Confections
d    Dairy Products
e    Grains/Cereals
f      Meat/Poultry
g           Produce
h           Seafood
Name: CategoryName, dtype: object

In [47]:
# tek sütunu dataframe olarak seçme 
df[['CategoryName']]

     CategoryName
a       Beverages
b      Condiments
c     Confections
d  Dairy Products
e  Grains/Cereals
f    Meat/Poultry
g         Produce
h         Seafood



## Select

#### Python'da iki tip selector bulumaktadır:

+ <b>loc:</b> Pandas kütüphanesinde veri seçmek için kullanılan çok güçlü bir yöntemdir. Özellikle <i>etiket</i> yani satır ve sütun isimlerini üzerinden nokta atışı veri seçimi yani select işlemi yapılır. "loc" etiket bazlı selection yapar.

+ <b>iloc:</b> Pandas kütüphanesinde veri seçmek için kullanılır. "loc" farkı ise "iloc" <i>pozisyona</i> göre seçim yapar yani satır numarası ve sütun numarası üzerinden işlem yapar. "iloc" integer
+ <hr>

<b>Dilimleme: </b> <i>Hem "loc" hemde "iloc" ile tıpkı python'da ki gibi dilimleme yapılabilinir.</i>

In [51]:
# loc example
# loc içerisde ilk kullanılan ifade
# ":" --> bütün satır demek 
# 'CategoryName' --> seçilmek istenilen sütunu ifade eder
# o halde "loc" kullanımda ilk argüman satur ikinci argüman sütunu temsil eder
# df.loc['satır',''sütun]
df.loc[:, 'CategoryName']

a         Beverages
b        Condiments
c       Confections
d    Dairy Products
e    Grains/Cereals
f      Meat/Poultry
g           Produce
h           Seafood
Name: CategoryName, dtype: object

In [52]:
df.loc['h', 'CategoryName']

'Seafood'

In [54]:
df.loc['d':'f', 'CategoryName']

d    Dairy Products
e    Grains/Cereals
f      Meat/Poultry
Name: CategoryName, dtype: object

In [55]:
df.loc['h']

CategoryID                     8
CategoryName             Seafood
Description     Seaweed and fish
Name: h, dtype: object

In [56]:
df.loc[['a', 'h'],['CategoryName', 'Description']]

  CategoryName                                  Description
a    Beverages  Soft drinks, coffees, teas, beers, and ales
h      Seafood                             Seaweed and fish

In [57]:
df.loc['a':'c', ['CategoryID', 'CategoryName']]

   CategoryID CategoryName
a           1    Beverages
b           2   Condiments
c           3  Confections

In [58]:
df.loc[:, ['CategoryName', 'Description']]

     CategoryName                                        Description
a       Beverages        Soft drinks, coffees, teas, beers, and ales
b      Condiments  Sweet and savory sauces, relishes, spreads, an...
c     Confections                Desserts, candies, and sweet breads
d  Dairy Products                                            Cheeses
e  Grains/Cereals                Breads, crackers, pasta, and cereal
f    Meat/Poultry                                     Prepared meats
g         Produce                          Dried fruit and bean curd
h         Seafood                                   Seaweed and fish

In [59]:
df.iloc[7, 1]

'Seafood'

In [61]:
df.iloc[1:3, 1]

b     Condiments
c    Confections
Name: CategoryName, dtype: object

In [63]:
df.iloc[[1,7], [1,2]]

  CategoryName                                        Description
b   Condiments  Sweet and savory sauces, relishes, spreads, an...
h      Seafood                                   Seaweed and fish